@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: #121212; /* Changement de couleur pour le fond */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Barlow", sans-serif;
}

nav{
    background-color: #1e1e1e; /* Changement de couleur pour la navigation */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Ombre plus sombre */
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff; /* Couleur du texte en clair */
}

nav a:hover{
    color: #db9d61; /* Couleur du texte au survol */
}

.logo{
    width: 40px;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #1e1e1e; /* Changement de couleur pour la sidebar */
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5); /* Ombre plus sombre */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display:none;
}

@media(max-width: 600px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 300px){
    .sidebar{
        width: 100%;
    }
    .menu-button{
        display: block;
    }
}

h1 {
    color: #ffffff; /* Couleur du texte h1 en blanc */
}

input[type=text], input[type=password], input[type=number], input[type=search], textarea, select {
    height: 0.75cm;
    width: 10cm;
    border-style: solid;
    border-width: 1px;
    border-color: #444; /* Changement de couleur pour le bord */
    border-radius: 4px;
    resize: vertical;
    background-color: #222; /* Changement de couleur pour le fond */
    color: #ffffff; /* Couleur du texte en clair */
}

input[type=search] {
    height: 1cm;
    width: 12cm;
}

input::placeholder, textarea::placeholder {
    color: #aaaaaa; /* Couleur plus claire pour le texte du placeholder */
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus, select:focus {
    border-style: solid;
    border-width: 2px;
    border-color: #db9d61; /* Couleur du bord au focus */
}

select {
    background-color: #222; /* Couleur de fond pour le select */
    color: #ffffff; /* Couleur du texte pour le select */
    border: solid 1px #444; /* Bord pour le select */
    border-radius: 4px; /* Bord arrondi pour le select */
    padding: 5px; /* Espacement interne pour le select */
}

option {
    background-color: #1e1e1e; /* Couleur de fond pour les options */
    color: #ffffff; /* Couleur du texte pour les options */
}

input[type=submit] {
    background-color: #db9d61; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte sur les boutons */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    background-color: #db9d61; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte sur les boutons */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button{
    height: 1cm;
    width: 1cm;
    background-color: #db9d61; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte sur les boutons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

hr{
    border-style: solid;
    border-width: 3px;
    border-color: #db9d61; /* Couleur de la ligne horizontale */
}

.profil-part button{
    background-color: #db9d61; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte sur les boutons */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

.form-signup, .form-login, .search-part, .booksearch-part, .profil-info-page, .reader-part, .update-part, .usersgestion-part{
    margin-left: 10px;
}

.form-signup input, select, .form-signup textarea {
    margin-bottom: 10px;
}

.form-login input, p, h4, label, legend {
    margin-bottom: 10px;
    color: #ffffff; /* Couleur du texte en clair pour les labels et légendes */
}

label {
    display: inline-block; /* Aligne les labels en ligne avec les champs de texte */
    margin-bottom: 5px; /* Espacement entre le label et le champ de texte */
    margin-right: 10px; /* Espacement entre le label et le champ de texte */
    color: #ffffff; /* Couleur du texte des labels */
}

legend {
    color: #ffffff; /* Couleur du texte en clair pour les légendes */
    font-weight: bold; /* Éventuellement mettre en gras pour se démarquer */
    margin-left: 20px; /* Ajout d'une marge à gauche pour la tabulation */
}

fieldset {
    border: none; /* Retirer la bordure pour le fieldset */
    padding: 0; /* Retirer le padding pour le fieldset */
}

.update-part input, .update-part textarea, hr {
    margin-bottom: 10px;
}

.update-part input[type=text], select, input[type=password], input[type=number], .update-part textarea {
    margin-right: 7px;
}

.list {
  width: 100%;
  background-color: #1e1e1e; /* Couleur de fond de la liste */
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
  color: #ffffff; /* Couleur du texte en clair */
}
.list-items:hover {
  background-color: #333; /* Couleur de fond au survol */
}